*{
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
}
body {
	font:{
		family: 'Roboto', sans-serif;
		size: 15px;
		weight: 300;
	}

}
$primary_color: #02aff2;
$sub_color: #f66f00;
.wrapper {
	position: relative;
	max-width: 1050px;
	background-color: $primary_color;
}
.background {
	height: 20px;
	background-color: $primary_color;
}
.ymese{
	position: absolute;
	top: 60px;
	right: 0px;
	background-color: $sub_color;
	width: 45px;
	height: 150px;
	writing-mode: vertical-rl;
	text-align: center;
	text-orientation: mixed;
	color: white;
	font:{
		size: 30px;
		weight: 900;
	}
}
.container {
	max-width: 992px;
	border: solid 2px white;
}

/* HEADER CSS */

.header {
	width: 100%;
	display: flex;
	background-color: $primary_color;
	padding: 30px 40px;
	color: white;
	.header__information {
		width: 50%;
		.header__information--title {
			font-weight: 400;
		}
		.header__information--uppercase {
			text-transform: uppercase;
			margin-bottom: 20px;
		}
		p {
			margin-bottom: 20px;
		}
	}
	.header__image {
		width: 50%;
		img {
			max-width: 100%;
		}
	}
}

/* MAIN */

.main {
	width: 100%;
	display: flex;
	background-color: white;
	padding-top: 50px;
	height: auto;
	.main__content {
		width: 55%;
		margin-left: 40px;
		.main__content__list-question{
			margin: 20px 40px 20px 0px;
			.main__content__list-question--item {
				padding: 10px 0px;
				h3 {
					display: inline;
					margin-right: 6px;
				}
				p {
					width: 100%;
					display: inline;
				}
				i {
					float: right;
					}
				
				&:after {
					content: '';
					display: block;
					border-bottom: solid 1px gray;
					padding: 4px;
				}
			}
		}
	}
	.main__contact {
		width: 45%;
		margin-left: 60px;
		.main__contact__list-form {
			margin: 20px 40px 20px 0px;
			padding-top: 10px;
			.main__contact__list-form--item {
				margin-bottom: 10px;
				input {
					width: 90%;
					padding: 12px 15px;
				}
			}
		}
		.main__contact__support {
			input {
				margin: 10px;
				color: $sub_color;
			}
		}
	}
	.content--icon {
		color: $primary_color !important;
		padding-bottom: 10px;
		font:{
			size: 30px;
		}
	}
	.content--icon:after {
		content: '';
		display: block;
		border-bottom: solid 2px $primary_color !important;
		padding: 4px;
	}
	li {
		list-style: none;
	}
	input {
		background-color: #b6e0ef;
		outline: none;
		border: none;
	}
}

.section .main--submit {
	padding: 30px 0px;
	background-color: white;
	text-align: center;
	button{
		padding: 10px 80px;
		background-color: $sub_color;
		color: white;
		outline: none;
		border: none;
		&:hover{
			cursor: pointer;
		}
	}
}

.question {
	width: 100%;
	padding: 12px 15px;
	background-color: #b6e0ef;
	outline: none;
	border: none;
}

@media only screen and (max-width: 568px) {
	.header, .main {
		display: flex;
		flex-direction: column;
	}
	.header__information,.header__image,.main__content, .main__contact {
			width: 90% !important;
	}
	.main {
		 .main__contact{
			margin-left: 40px;
		}
	}
}